{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
    <h2>Restoran: Warteg Kutek</h2>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Email:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">wartegkutek@gmail.com</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Password:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">bismillahL4Ris</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Warteg Kutek</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nomor HP:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">012345678912</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">NIK:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">1234567890123456</p>
            </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Nama Bank:</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">bni</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Nomor Rekening:</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">1234567</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama restoran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Warteg</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Cabang:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Kutek</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nomor telepon:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">012345678912</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jalan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Jl. H. Amat</p>
            </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Kecamatan:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">Beji</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Kota:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">Depok</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Provinsi:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">Jawa Barat</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Rating:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">10</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Kategori Restoran:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">Fast Food</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Jam Operasional:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0"></p>
                </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <h4>Jam Operasional:</h4>
            <div class="row">
            <div class="col-sm-4">
                <p class="mb-0">Hari</p>
            </div>
            <div class="col-sm-4">
                <p class="mb-0">Buka</p>
            </div>
            <div class="col-sm-4">
                <p class="mb-0">Tutup</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-4">
                <p class="text-muted mb-0">Senin</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">7:00</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">22:00</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-4">
                <p class="text-muted mb-0">Selasa</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">7:00</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">22:00</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-4">
                <p class="text-muted mb-0">Minggu</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">10:00</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">22:00</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <h4>Promo Berlangsung:</h4>
            <div class="row">
                <p class="text-muted mb-0">Promo weekend</p>   
            </div>
            <hr>
            <div class="row">
                <p class="text-muted mb-0">Promo hari raya</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Terverifikasi</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Diverifikasi oleh:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">asdos basdat</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Saldo RestoPay:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">300000000000000</p>
            </div>
            </div>
        </div>
    </div>

    {% if user.role == 'Admin' %}
    <div><a class="btn btn-primary" href="{% url 'authentication:dashboard_admin' %}">Kembali</a></div>
    {% endif %}

</div>
{% endblock content %}
