{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
    <h2>Restoran: {{data.rname}} {{data.rbranch}}</h2>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Email:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.email}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Password:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.password}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.fname}} {{data.lname}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nomor HP:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.phonenum}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">NIK:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.nik}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Nama Bank:</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.bankname}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Nomor Rekening:</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.accountno}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama restoran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.rname}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Cabang:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.rbranch}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nomor telepon:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.rphonenum}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jalan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.street}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Kecamatan:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{data.district}}</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Kota:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{data.city}}</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Provinsi:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{data.province}}</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Rating:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{data.rating}}</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Kategori Restoran:</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{data.name}}</p>
                </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <h4>Jam Operasional:</h4>
            <div class="row">
            <div class="col-sm-4">
                <p class="mb-0">Hari</p>
            </div>
            <div class="col-sm-4">
                <p class="mb-0">Buka</p>
            </div>
            <div class="col-sm-4">
                <p class="mb-0">Tutup</p>
            </div>
            </div>
            {% for j in jadwal %}
            <hr>
            <div class="row">
            <div class="col-sm-4">
                <p class="text-muted mb-0">{{j.day}}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">{{j.starthours}}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-muted mb-0">{{j.endhours}}</p>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if user.role == 'Admin' %}
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <h4>Promo Berlangsung:</h4>
            {% for p in promo %}
            <hr>
            <div class="row">
                <p class="text-muted mb-0">{{p.promoname}}</p>   
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.status}}</p>
            </div>
            </div>
            {% if data.status == 'Terverifikasi' %}
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Diverifikasi oleh:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.adminid}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Saldo RestoPay:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.restopay}}</p>
            </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% if user.role == 'Admin' %}
    <div><a class="btn btn-primary" href="{% url 'authentication:dashboard' %}">Kembali</a></div>
    {% endif %}

</div>
{% endblock content %}
