{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
    <h2>Admin: {{data.fname}} {{data.lname}}</h2>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Email:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.email}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Password:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.password}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.fname}} {{data.lname}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nomor HP:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.phonenum}}</p>
            </div>
            </div>
        </div>
    </div>

    <h4>Aktor Transaksi:</h4>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0">Nama</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0">Role</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0">Status</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0">Aksi</p>
                </div>
            </div>
            {% for t in t_actor %}
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <p class="mb-0">{{t.email}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0">{{t.fname}} {{t.lname}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0">{{t.role}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0" id="{{t.email}}_status">{{t.status}}</p>
                </div>
                <div class="col-sm-2">
                    <div class="row"><a class="btn btn-primary" href="{% url 'authentication:detail' t.role t.email %}">Detail</a></div>
                    {% if t.status == 'Belum Terverifikasi'%}
                    <div class="row"><button type="button" id="{{t.email}}" class="btn btn-primary" onclick='verif(this.id)'>Verifikasi</button></div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    async function verif(email) {
        return fetch(`verification/${email}/`).then(verification(email));
    }
    async function verification(email){
        var btn_verif = document.getElementById(email);
        btn_verif.hidden = true;
        document.getElementById(email+"_status").innerHTML = "Terverifikasi";
    }
</script>
{% endblock content %}