{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
    <h2>Pelanggan: {{data.fname}} {{data.lname}}</h2>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Email:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.email}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Password:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.password}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.fname}} {{data.lname}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nomor HP:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.phonenum}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">NIK:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.nik}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Nama Bank:</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.bankname}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Nomor Rekening:</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.accountno}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Tanggal Lahir:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.birthdate}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jenis Kelamin:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.sex}}</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.status}}</p>
            </div>
            </div>
            {% if data.status == 'Terverifikasi' %}
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Diverifikasi oleh:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.adminid}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Saldo RestoPay:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{data.restopay}}</p>
            </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% if user.role == 'Admin' %}
    <div><a class="btn btn-primary" href="{% url 'authentication:dashboard' %}">Kembali</a></div>
    {% endif %}

</div>
{% endblock content %}
