{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
<script>
  function showError(message) {
    $("#errorMessage").html("")
    const text = `<p class = "text-white font-bold text-center">${message}</p>`
    $(text).appendTo("#errorMessage")
  }
  
  $(document).ready(function() {
    $("#idSubmit").submit(function(e){
      e.preventDefault();
      var email = $("#emailForm").val();
      var password = $("#passwordForm").val();
      
      if (email === "" || password === "") {
        showError('Data yang diisikan belum lengkap, silakan lengkapi data terlebih dahulu.');
      } else {
        $.ajax({
          method: 'POST',
          url: "{% url 'authentication:show_login' %}",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          },
          data: {
            email: email,
            password: password,
          },
          success: function(data) {
            window.location.href = `${window.location.protocol}//${window.location.host}/dashboard/`
          },
          error: function(error) {
            showError('Email atau password tidak valid');
          }
        });
      }
    });
  });
</script>
{% endblock meta %}

{% block content %}
<div class = "max-w-720px p-8 w-full position-center bg-main rounded-md font-bold">
    <div id = "errorMessage"> </div>
    <form id = "idSubmit" class = "flex flex-col">
        <h2 class = "text-center font-bold"> Form Login </h2>
        <div class="form-group mt-4 flex justify-center items-center gap-x-4">
          <label for="emailForm"> Email: </label>
          <input type="email" class="form-control" id="emailForm" aria-describedby="emailHelp" placeholder="Masukkan Email" aria-required="Input Tidak Boleh Kosong!">
        </div>
        <div class="form-group mt-4 flex justify-center items-center gap-x-4">
          <label for="passwordForm"> Password: </label>
          <input type="password" class="form-control" id="passwordForm" aria-describedby="password" placeholder="Masukkan password" aria-required="Input Tidak Boleh Kosong!">
        </div>
        <div class = "text-center pt-8">
            <button type="submit" class="btn btn-primary text-center"> Login </button>
        </div>
      </form>
</div>
{% endblock content %}