{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jam Operasional: Buat</title>
<script>
    function showError(message) {
        $('#error-message').text(message);
    }
    
    $(document).ready(function() {
        $('#form').submit(function(event) {
            event.preventDefault();
            let hari = $('#hari').val();
            let jamBukaValue = $('#jam_buka').val();
            let jamBuka = jamBukaValue == '' ? null : jamBukaValue;
            let jamTutupValue = $('#jam_tutup').val();
            let jamTutup = jamTutupValue == '' ? null : jamTutupValue;
            if (hari != null && jamBuka != null && jamTutup != null) {
                $.ajax({
                    method: 'PUT',
                    url: `{% url 'jam_operasional:jam_operasional_ubah' %}`,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    data: {
                        day: hari,
                        start_hours: jamBuka,
                        end_hours: jamTutup,
                    },
                    success: function(data) {
                        window.location = `{% url 'jam_operasional:jam_operasional_daftar' %}`;
                    },
                    error: function(error) {
                        window.location = `{% url 'jam_operasional:jam_operasional_daftar' %}`;
                    }
                });
            } else {
                showError('Data yang diisikan belum lengkap, silakan lengkapi data terlebih dahulu.');
            }
        });
    });
</script>
{% endblock meta %}

{% block content %}
<h1 class="text-center mt-4 mb-4">Form Ubah Jam Operasional</h1>
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <form id="form">
                <div>
                    <label for="hari">Hari:</label>
                    <select class="form-control" id="hari" name="hari" placeholder="Pilih Hari" disabled>
                        <option value="" disabled>Pilih Hari</option>
                        <option value="Senin" {% if day == 'Senin' %}selected{% endif %}>Senin</option>
                        <option value="Selasa" {% if day == 'Selasa' %}selected{% endif %}>Selasa</option>
                        <option value="Rabu" {% if day == 'Rabu' %}selected{% endif %}>Rabu</option>
                        <option value="Kamis" {% if day == 'Kamis' %}selected{% endif %}>Kamis</option>
                        <option value="Jumat" {% if day == 'Jumat' %}selected{% endif %}>Jumat</option>
                        <option value="Sabtu" {% if day == 'Sabtu' %}selected{% endif %}>Sabtu</option>
                        <option value="Minggu" {% if day == 'Minggu' %}selected{% endif %}>Minggu</option>
                    </select>
                </div>
                <div class="mt-2">
                    <label for="jam_buka">Jam buka:</label>
                    <input class="form-control" id="jam_buka" type="time" step="1" name="jam_buka" value="{{ start_hours }}">
                </div>
                <div class="mt-2">
                    <label for="jam_tutup">Jam tutup:</label>
                    <input class="form-control" id="jam_tutup" type="time" step="1" name="jam_tutup" value="{{ end_hours }}">
                </div>
                <div class="mt-2 d-flex justify-content-center">
                    <input class="btn btn-dark" type="submit" value="Simpan">
                </div>
                <div class="mt-2">
                    <span id="error-message" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}