{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Kategori Restoran</title>
{% endblock meta %}

<body>
    
{% block content %}
<div class="container py-5">
<h2>Form Kategori Restoran</h2>
<form method="POST" action="">
    {% csrf_token %}
    <label>Kategori Restoran : </label>
    <input type="text" name="namaKategori" placeholder="Masukkan nama kategori" class="form-control">
    <p></p>
    <center>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </center>
</form>

{% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %} 
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock content %}
</body>