{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <title> Buat Makanan </title> 
    {% endblock meta %}
</head>

<body>
    {% block content %}  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <div class = "flex justify-center">
        <div class = "max-w-720px p-8 w-full bg-main rounded-md font-bold">
            <div id = "errorMessage"> </div>
            <form id = "idSubmit" action = '/tarif/' class = "flex flex-col">
                <h2 class = "text-center font-bold"> Form Buat Makanan </h2>
                <div id = "idTambah">
                    <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                      <label for="namaMakananForm"> Nama Makanan: </label>
                      <input type="text" class="form-control" id="namaMakananForm" aria-describedby="namaMakanan" placeholder="Masukkan nama makanan" aria-required="Input Tidak Boleh Kosong!" >
                    </div>
                    <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                        <label for="deskripsiForm"> Deskripsi Makanan: </label>
                        <input type="text" class="form-control" id="deskripsiForm" aria-describedby="deskripsi" placeholder="Masukkan deskripsi makanan" aria-required="Input Tidak Boleh Kosong!" >
                    </div>
                    <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                      <label for="stokForm"> Stok: </label>
                      <input type="number" class="form-control" id="stokForm" aria-describedby="stok" placeholder="Masukkan stok makanan" aria-required="Input Tidak Boleh Kosong!"  >
                    </div>
                    <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                      <label for="hargaForm"> Harga: </label>
                      <input type="number" class="form-control" id="hargaForm" aria-describedby="harga" placeholder="Masukkan harga makanan" aria-required="Input Tidak Boleh Kosong!" >
                    </div>
                    <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                        <label for="selectKategoriMakananForm"> Kategori makanan: </label>
                        <select id = "selectKategoriMakananForm" class="form-select" aria-label="Default select example">
                            {% for kategori in food_category_no_dumps %}
                                <option value = "{{kategori.id}}"> {{kategori.name}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                        <label for="selectBahanMakananForm"> Bahan makanan: </label>
                        <select id = "selectBahanMakananForm" class="form-select" aria-label="Default select example">
                            {% for ingredient in ingredient_no_dumps %}
                                <option value = "{{ingredient.id}}"> {{ingredient.name}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class = "text-white font-bold p-8 rounded-full cursor-pointer" id = "tambah">
                    <svg class = "bg-blue-500" xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi bi-plus-lg" viewBox="0 0 16 16" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </div>
                <div class = "text-center pt-8">
                    <button type="submit" class="btn btn-primary text-center">Simpan</button>
                </div>
              </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      var count = 0;
      var dataIngredient = String.raw`{{ingredient| safe}}`
      var parsedIngredient = JSON.parse(dataIngredient)
    
      var dataFoodCategory = String.raw`{{food_category| safe}}`
      var parsedFoodCategory = JSON.parse(dataFoodCategory)


      $("#tambah").click(function(){
        var text = `
        <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                <label> Bahan makanan: </label>
                <select class="form-select" aria-label="Default select example" id = "selectBahanMakananForm${count}" required>
                    ${parsedIngredient.map((item, index) => (
                        `<option value = '${item.id}'> ${item.name} </option>`
                    ))}
                </select>
            </div>
        `
        count += 1;
        $(text).appendTo("#idTambah")
      })

      $(document).ready(function () {

        $("#idSubmit").submit(function(e){
            e.preventDefault()
            var namaMakanan = $("#namaMakananForm").val()
            var deskripsiMakanan = $("#deskripsiForm").val()
            var stok = $("#stokForm").val()
            var harga = $("#hargaForm").val()
            var kategoriMakanan = $("#selectKategoriMakananForm").val()
            var bahanMakanan = $("#selectBahanMakananForm").val()
            
            var semuaBahanMakanan = new Set()

            if(namaMakanan === "" || deskripsiMakanan === "" || stok === "" || harga === "" || kategoriMakanan === "" || bahanMakanan === "default"){
                $("#errorMessage").html("")
                const text = `<p class = "text-white font-bold text-center"> Data yang diisikan belum lengkap, silakan lengkapi data terlebih dahulu. </p>`
                $(text).appendTo("#errorMessage")
            }else{
                semuaBahanMakanan.add(bahanMakanan)
                for(let i = 0; i < count; i++){
                    semuaBahanMakanan.add($(`#selectBahanMakananForm${i}`).val())
                }
                semuaBahanMakanan = Array.from(semuaBahanMakanan)
                let bahanMakananDalamString = ""
                for(let i = 0; i < semuaBahanMakanan.length; i++){
                    if(i != semuaBahanMakanan.length - 1){
                        bahanMakananDalamString += 
                        `${semuaBahanMakanan[i]}, `
                    }else{
                        bahanMakananDalamString += `${semuaBahanMakanan[i]}`
                    }
                }
                try{
                    $.ajax({
                        type: "POST",
                        url: "/makanan/create/",
                        data: {
                        "foodname": namaMakanan,
                        "description": deskripsiMakanan,
                        "stock": parseInt(stok),
                        "price": parseInt(harga),
                        "fcategory": kategoriMakanan,
                        "ingredient": bahanMakananDalamString,
                        },
                        success: function(data){
                        if(data.message == "Successful"){
                            console.log()
                            window.location.href = window.location.protocol + "//" + window.location.host + "/" + "makanan/restoran/"
                        }else{
                            alert(data.message)
                        }
                        },
                        error: function(error){
                        alert(error)
                        }
                    })
                }catch (error){
                    alert(error)
                }
                // window.location.href = window.location.protocol + "//" + window.location.host + "/" + "makanan/restoran/"
            }
            })
        });
    </script>
    {% endblock content %}
</body>