{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <title> Daftar Makanan </title> 
    {% endblock meta %}
</head>

<body>
    {% block content %}  
    <div class = "flex flex-col items-center my-8">
        <h1 class = "font-bold my-4"> Detail Menu </h1> 
        <div class = "max-w-1080px w-full mx-8">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col"> No </th>
                    <th scope="col"> Nama Makanan </th>
                    <th scope="col"> Deskripsi </th>
                    <th scope="col"> Stok </th>
                    <th scope="col"> Harga </th>
                    <th scope="col"> Kategori Makanan </th>
                    <th scope="col"> Bahan Makanan </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td> Roti Bakar Coklat Keju </td>
                    <td> Roti dengan isian coklat dan keju yang dibakar </td>
                    <td>10</td>
                    <td>8000</td>
                    <td> Snack </td>
                    <td> Roti, Mentega, Coklat, Keju </td> 
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td> Milkshake Vanilla </td>
                    <td> Milkshake rasa vanilla dengan topping es krim </td>
                    <td>5</td>
                    <td>7000</td>
                    <td> Minuman </td>
                    <td> Susu, Es Krim, Gula </td> 
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    {% endblock content %}
</body>