{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <title> Daftar Makanan </title> 
    {% endblock meta %}
</head>

<body>
    {% block content %}  
    <div class = "flex flex-col items-center my-8">
        <h1 class = "font-bold my-4"> Detail Menu </h1> 
        <div class = "max-w-1080px w-full mx-8">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col"> No </th>
                    <th scope="col"> Nama Makanan </th>
                    <th scope="col"> Deskripsi </th>
                    <th scope="col"> Stok </th>
                    <th scope="col"> Harga </th>
                    <th scope="col"> Kategori Makanan </th>
                    <th scope="col"> Bahan Makanan </th>
                    <th scope="col"> Aksi </th>
                  </tr>
                </thead>
                <tbody>
                  {% for food in food_no_dumps %}
                    {% if food.stock != 0 %}
                      <tr>
                        <th scope="row"> {{forloop.counter}} </th>
                        <td id = "foodname{{forloop.counter}}"> {{food.foodname}} </td>
                        <td id = "description{{forloop.counter}}"> {{food.description}} </td>
                        <td id = "stock{{forloop.counter}}"> {{food.stock}} </td>
                        <td id = "price{{forloop.counter}}"> {{food.price}} </td>
                        <td id = "fcategory{{forloop.counter}}"> {{food.fcategory}} </td>
                        <td id = "ingredient{{forloop.counter}}"> {{food.ingredient}} </td> 
                        <td class = "flex flex-col h-full">
                            <a href="/makanan/restoran/update/?foodname={{food.foodname}}&description={{food.description}}&stock={{food.stock}}&price={{food.price}}&fcategory={{food.fcategory}}&ingredient={{food.ingredient}}" class = "w-full flex-col flex text-decoration-none">
                              <button type="button"> Ubah </button>
                            </a>
                            {% if not food.referred %}
                              <a href="/makanan/restoran/delete/?param1={{food.rname}}&param2={{food.rbranch}}&param3={{food.foodname}}" class = "w-full flex-col flex text-decoration-none"><button> Hapus </button></a>
                            {% endif %} 
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var data = String.raw`{{food | safe}}`
        var parsed = JSON.parse(data)
        $(document).ready(function (){
          for(let i = 1 ; i <= parsed.length ; i++){
            $(`#btn${i}`).click(function(){
              let foodname = $(`#foodname${i}`).text()
              let description = $(`#description${i}`).text()
              let stock = $(`#stock${i}`).text()
              let price = $(`#price${i}`).text()
              let fcategory = $(`#fcategory${i}`).text()
              let ingredient = $(`#ingredient${i}`).text()
              try{
                $.ajax({
                  type: "POST",
                  url: "/makanan/restoran/update/",
                  data: {
                    "foodname": foodname,
                    "description": description,
                    "stock": parseInt(stock),
                    "price": parseInt(price),
                    "fcategory": fcategory,
                    "ingredient": ingredient,
                  },
                  success: function(data){
                    window.location.href = window.location.protocol + "//" + window.location.host + "/" + "makanan/restoran/update/"
                  },
                  error: function(error){
                    alert(error)
                  }
                })
              }catch (error){
                alert(error)
              }
            })
          }
        })

    </script>
    {% endblock content %}
</body>