{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <title> Daftar Tarif Pengiriman per KM </title> 
    {% endblock meta %}
</head>

<body>
    {% block content %}  

    <div class = "flex flex-col items-center my-8">
        <h1 class = "font-bold my-4"> Daftar Tarif Pengiriman per KM </h1> 
        <div class = "max-w-1080px w-full mx-8">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col"> No </th>
                    <th scope="col"> Provinsi </th>
                    <th scope="col"> Biaya Motor </th>
                    <th scope="col"> Biaya Mobil </th>
                    <th scope="col"> Aksi </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in delivery_fee_per_km_nodump %}
                    <tr>
                      <th scope="row"> {{forloop.counter}} </th>
                      <td> {{item.province}} </td>
                      <td> {{item.motorfee}} </td>
                      <td> {{item.carfee}} </td>
                      <td class = "flex flex-col">
                          <button type="button" data-bs-toggle = "modal" data-bs-target = "#modalTarif-{{forloop.counter}}"> Ubah </button>
                          <a href="/tarif/delete/{{item.id}}/" class = "w-full flex-col flex text-decoration-none"><button> Hapus </button></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

    {% for item in delivery_fee_per_km_nodump %}
      <form name = '{{item.id}}' id = "idModal{{forloop.counter}}" action="">
          {% csrf_token %}
          <div class="modal fade" id="modalTarif-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="modalTarifLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class = "flex flex-col text-center">
                        <h5 class="modal-title text-center" id="modalTarifLabel">Form Ubah Tarif Pengiriman Per Km </h5>
                    </div>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div id = "errorMessage"> </div>
                      <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                          <label for="provinsi" class="font-bold mb-2"> Provinsi: </label>
                          <input type="text" class="form-control" id="provinsi{{forloop.counter}}"aria-describedby="emailHelp" placeholder="Masukkan nama provinsi" aria-required="Input Tidak Boleh Kosong!" disabled>
                        </div>
                        <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                          <label class="font-bold mb-2" for="tarif-motor"> Tarif Motor: </label>
                          <input type="number" class="form-control" id="tarifmotor{{forloop.counter}}"aria-describedby="emailHelp" placeholder="Masukkan tarif motor" aria-required="Input Tidak Boleh Kosong!"  >
                        </div>
                        <div class="form-group mt-4 flex justify-center items-center gap-x-4">
                          <label class="font-bold mb-2" for="tarif-mobil"> Tarif Mobil: </label>
                          <input type="number" class="form-control" id="tarifmobil{{forloop.counter}}" aria-describedby="emailHelp" placeholder="Masukkan tarif mobil" aria-required="Input Tidak Boleh Kosong!">
                        </div>
                  </div>
                  <div class="modal-footer flex flex-col items-center">
                    <button type="submit" class="text-center btn btn-primary"> Simpan </button>
                  </div>
                </div>
              </div>
            </div>
      </form>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      var number = "{{delivery_length}}"
      var data = String.raw`{{delivery_fee_per_km | safe}}`
      var parsed = JSON.parse(data)
      // for(let i = 0; i < delivery.length; i++){
      //   console.log("ada 10")
      // }
    function changeModalInput(id){
        $(`#tarifmotor${id+1}`).val(parsed[id].motorfee)
        $(`#provinsi${id+1}`).val(parsed[id].province)
        $(`#tarifmobil${id+1}`).val(parsed[id].carfee)
    }

    for(let i = 1; i <= number; i++){
      $(`#idModal${i}`).submit(function(e){
          e.preventDefault()
          let id = $(`#idModal${i}`).attr('name')
          console.log(id)
          let tarifMotor = $(`#tarifmotor${i}`).val()
          let tarifMobil = $(`#tarifmobil${i}`).val()
          if(tarifMobil === "" || tarifMotor === ""){
            $("#errorMessage").html("")
            const text = `<p class = "text-red font-bold text-center"> Data yang diisikan belum lengkap, silakan lengkapi data terlebih dahulu. </p>`
            $(text).appendTo("#errorMessage")
          }else{
            console.log("tarifMobil", tarifMobil)
            console.log("tarifMotor", tarifMotor)
            try{
              $.ajax({
                type: "POST",
                url: "/tarif/update/",
                data: {
                  "id": id,
                  "motorfee": parseInt(tarifMotor),
                  "carfee": parseInt(tarifMobil)
                },
                success: function(data){
                  if(data.message == "Successful"){
                    console.log()
                    window.location.href = window.location.protocol + "//" + window.location.host + "/" + "tarif/"
                  }else{
                    alert(data.message)
                  }
                },
                error: function(error){
                  alert(error)
                }
              })
            }catch (error){
              alert(error)
            }
        }
      })
    }
    
    $(document).ready(function (){
      for(let i = 0 ; i <= number ; i++){
        changeModalInput(i)
      }

    })
    </script>

    {% endblock content %}
</body>
