<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

<title>Kategori Restoran</title>

<style>
  table, th, td {
      border:1px solid black;
      border-collapse: collapse;
      text-align:center;
      padding: 8px;
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel=”stylesheet” href=”css/bootstrap-responsive.css”>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js%22%3E"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js%22%3E"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<h1 class="text-red-500">Hello, {{request.user.username}}</h1>
<h3 class="text-green-500">FORM BUAT BAHAN MAKANAN </h3>

<form id="form" onsubmit="return false;">
    <label for="formInput">Bahan Makanan</label>
    <input type="text" class="form-control" id="formInput" name="category_name" required>

    <button class="btn btn-primary btn-lg px-py-5 row my-2" id="addButton" type="submit" value="Submit">Tambah Kategori</button>

</form>

<table class="table-auto">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Bahan Makanan</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Garam </td>
      <td><button type="button" class="btn btn-primary">[Hapus]</button></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Gula  </td>

    </tr>

   
  </tbody>
</table>
