{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <title> Detail Ringkasan Pesanan </title> 
    {% endblock meta %}
</head>

<body>
    {% block content %}  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <h1 class = "font-bold my-4"> Ringkasan Pesanan </h1> 
        <p class = "my-8"> Waktu Pemesanan : 2022-11-04 11:30:05 </p> 

        <p> Nama Pelanggan: Mikayla Putri </p>
        <p> Jalan: Jalan Bahagia nomor 72 </p>
        <p> Kecamatan: Cinere </p>
        <p> Kota: Depok </p>
        <p class = "mb-4"> Provinsi: Jawa Barat </p>

        <p>Restoran: Warung Mantap Depok</p>
        <p>Jalan: Jalan Sejahtera nomor 5 </p>
        <p>Kecamatan: Bojongsari</p>
        <p>Kota: Depok </p>
        <p class = "mb-4">Provinsi: Jawa Barat</p>

        <p>Makanan yang dipesan:</p>
        <li> Ayam Goreng (1) - [catatan bila ada] </li>
        <li> Ice Cream (2) - [catatan bila ada] </li>
        <p>Total Harga Makanan: 11000</p>
        <p>Total Diskon: 0</p>
        <p>Biaya Pengantaran: 4000</p>
        <p>Total Biaya: 15000</p>
        <p class = "mb-4">Jenis Pembayaran: RestoPay</p>

        <p>Status Pembayaran: Berhasil</p>
        <p class = "mb-4">Status Pesanan: Pesanan Diantar</p>

        <p>Kurir: Doni Suryana</p>
        <p>Plat Kendaraan: B 0001 KNN</p>
        <p>Jenis Kendaraan: Motor</p>
        <p class = "mb-4">Merk Kendaraan: Honda Vario </p>

        <button type="button" class="btn btn-primary">[Kembali]</button>
    </div>
    {% endblock content %}
</body>