<!DOCTYPE html>
<html lang="en">

  <style>
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
        text-align:center;
        padding: 8px;
    }
  </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=”stylesheet” href=”css/bootstrap-responsive.css”>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js%22%3E"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js%22%3E"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>TRANSAKSI PEMESANAN</title>
</head>
    <body>
        <h1> Pesanan Berlangsung </h1>
        <form action="" method="post">
            <button type="submit">Save Task</button>
        </form>
    </body>
    <table class="table-auto">
        <thead>
          <tr>
            <th>No</th>
            <th>Restoran - Cabang</th>
            <th>Nama Pelanggan</th>
            <th>Waktu Pesanan Dibuat</th>
            <th>Status Pesanan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Warung Mantap Depok</td>
            <td>Mikayla Putri</td>
            <td>2022-11-04 11:30:05</td>
            <td>Pesanan Diantar</td>
            <td><button type="button" class="btn btn-primary">[Detail]</button>
                <button type="button" class="btn btn-primary">[Selesai]</button>
            </td>
    
         
        </tbody>
      </table>

    </html>