<!DOCTYPE html>
<html lang="en">

  <style>
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
        text-align:center;
        padding: 8px;
    }
  </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>TRANSAKSI PEMESANAN</title>
</head>
    <body>
        <h1> Pesanan Berlangsung </h1>
        <form action="" method="post">
            <button type="submit">Save Task</button>
        </form>
    </body>
    <table class="table-auto">
        <thead>
          <tr>
            <th>No</th>
            <th>Restoran - Cabang</th>
            <th>Nama Pelanggan</th>
            <th>Waktu Pesanan Dibuat</th>
            <th>Status Pesanan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Warung Mantap Depok</td>
            <td>Mikayla Putri</td>
            <td>2022-11-04 11:30:05</td>
            <td>Pesanan Diantar</td>
            <td><button type="button" class="btn btn-primary">[Detail]</button>
                <button type="button" class="btn btn-primary">[Selesai]</button>
            </td>
    
         
        </tbody>
      </table>

    </html>