{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RestoPay: Tarik Saldo</title>
<script>
    function showError(message) {
        $('#error-message').text(message);
    }
    
    $(document).ready(function() {
        $('#form').submit(function(event) {
            event.preventDefault();
            const nominal = $('#nominal').val();
            $.ajax({
                method: 'POST',
                url: "{% url 'resto_pay:resto_pay_tarik_saldo' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                data: {
                    nominal: nominal,
                },
                success: function(data) {
                    window.location.href = `{% url 'resto_pay:resto_pay' %}`;
                },
                error: function(error) {
                    showError(error.responseJSON.message);
                }
            });
        });
    });
</script>
{% endblock meta %}

{% block content %}
<h1 class="text-center">Form Tarik Saldo</h1>
<form id="form" action="" method="POST" class="d-flex flex-column">
    <span>Saldo: {{ saldo }}</span>
    <div class="mb-3">
        <label for="nominal">Nominal Penarikan:</label>
        <input id="nominal" type="number" name="nominal" required>
        <p id="error-message"></p>
    </div>
    <span>ke:</span>
    <span>Nama Bank: {{ bank_nama }}</span>
    <span>Nomor Rekening: {{ bank_norek }}</span>
    <div class="mt-3 d-flex justify-content-center">
        <input type="submit" value="Simpan">
    </div>
</form>
{% endblock content %}