{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Transaksi Pesanan: Daftar</title>
{% endblock meta %}

{% block content %}
<h1 class="text-center mt-4 mb-4">Ringkasan Pesanan</h1>
<div class="d-flex flex-col align-items-center">
    <div class="w-75 mb-1">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Waktu Pemesanan:</b> {{ transaction.formatteddatetime }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-75 mt-1 mb-1">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Nama Pelanggan:</b> {{ transaction.fname }} {{ transaction.lname }}</td>
                </tr>
                <tr>
                    <td><b>Jalan:</b> {{ transaction.street }}</td>
                </tr>
                <tr>
                    <td><b>Kecamatan:</b> {{ transaction.district }}</td>
                </tr>
                <tr>
                    <td><b>Kota:</b> {{ transaction.city }}</td>
                </tr>
                <tr>
                    <td><b>Provinsi:</b> {{ transaction.province }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-75 mt-1 mb-1">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Restoran:</b> {{ restaurant.rname }} {{ restaurant.rbranch }}</td>
                </tr>
                <tr>
                    <td><b>Jalan:</b> {{ restaurant.street }}</td>
                </tr>
                <tr>
                    <td><b>Kecamatan:</b> {{ restaurant.district }}</td>
                </tr>
                <tr>
                    <td><b>Kota:</b> {{ restaurant.city }}</td>
                </tr>
                <tr>
                    <td><b>Provinsi:</b> {{ restaurant.province }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="card w-75 mt-1 p-2">
        <div>
            <span><b>Makanan yang dipesan:</b></span>
        </div>
        <ul>
            {% for food in food_list %}
                <li>{{ food.foodname }} ({{ food.amount }}) - {{ food.note }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="w-75 mt-4 mb-1">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Total Harga Makanan:</b> {{ transaction.totalfood }}</td>
                </tr>
                <tr>
                    <td><b>Total Diskon:</b> {{ transaction.totaldiscount }}</td>
                </tr>
                <tr>
                    <td><b>Biaya Pengantaran:</b> {{ transaction.deliveryfee }}</td>
                </tr>
                <tr>
                    <td><b>Total Biaya:</b> {{ transaction.totalprice }}</td>
                </tr>
                <tr>
                    <td><b>Jenis Pembayaran:</b> {{ transaction.paymentmethod }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-75 mt-1 mb-1">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Status Pembayaran:</b> {{ transaction.paymentstatus }}</td>
                </tr>
                <tr>
                    <td><b>Status Pesanan:</b> {{ transaction.transactionstatus }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-75 mt-1 mb-1">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Kurir:</b> {{ courier.name }}</td>
                </tr>
                <tr>
                    <td><b>Plat Kendaraan:</b> {{ courier.platenum }}</td>
                </tr>
                <tr>
                    <td><b>Jenis Kendaraan:</b> {{ courier.vehicletype }}</td>
                </tr>
                <tr>
                    <td><b>Merk Kendaraan:</b> {{ courier.vehiclebrand }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-center mb-4">
    <a href="{% url 'transaksi_pesanan:transaksi_pesanan_daftar' %}">
        <button class="btn btn-dark">
            Kembali
        </button>
    </a>
</div>
{% endblock content %}