{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Transaksi Pesanan: Daftar</title>
<script>
    function updateTransaction(email, time) {
        $.ajax({
            method: 'PUT',
            url: "{% url 'transaksi_pesanan:transaksi_pesanan_detail' %}",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            data: {
                email: email,
                time: time,
            },
            success: function(data) {
                window.location.reload();
            },
            error: function(error) {
                alert('Cannot send request to server');
            }
        });
    }
</script>
{% endblock meta %}

{% block content %}
<h1 class="text-center mt-4">Daftar Transaksi Pesanan</h1>
<div class="d-flex justify-content-center">
    <table class="table w-75 mt-4">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Pelanggan</th>
                <th>Waktu Pesanan Dibuat</th>
                <th>Status Pesanan</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transaction_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ transaction.fname }} {{ transaction.lname }}</td>
                    <td>{{ transaction.formatteddatetime }}</td>
                    <td>{{ transaction.transactionstatus }}</td>
                    <td>
                        <div class="d-flex flex-column align-items-center">
                            <a class="w-100" href="{% url 'transaksi_pesanan:transaksi_pesanan_detail' %}?email={{ transaction.email }}&time={{ transaction.time }}">
                                <button class="w-100 btn btn-dark">
                                    Detail
                                </button>
                            </a>
                            {% if transaction.transactionstatus == 'Menunggu Konfirmasi Resto'  %}
                                <button class="w-100 btn btn-dark mt-2" onclick="updateTransaction('{{ transaction.email }}', '{{ transaction.time }}');">
                                    Konfirmasi
                                </button>
                            {% elif transaction.transactionstatus == 'Pesanan Dibuat' %}
                                <button class="w-100 btn btn-dark mt-2" onclick="updateTransaction('{{ transaction.email }}', '{{ transaction.time }}');">
                                    Kirim
                                </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}