{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
    <h2>Daftar Pesanan</h2>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-1">
                <p class="mb-0">No</p>
            </div>
            <div class="col-sm-3">
                <p class="mb-0">Nama Makanan</p>
            </div>
            <div class="col-sm-3">
                <p class="mb-0">Harga</p>
            </div>
            <div class="col-sm-2">
                <p class="mb-0">Jumlah</p>
            </div>
            <div class="col-sm-3">
                <p class="mb-0">Total</p>
            </div>
            </div>
            {% for m in menu %}
                <hr>
                <div class="row">
                <div class="col-sm-1">
                    <p class="text-muted mb-0">{{m.nomor}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-muted mb-0">{{m.foodname}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-muted mb-0">{{m.price}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="text-muted mb-0">{{m.amount}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-muted mb-0">{{m.total}}</p>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].totalfood}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Metode Pengantaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].vehiletype}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Metode Pembayaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{payment_method[0].name}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total Diskon:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">transaction[0].totaldiscount</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Biaya Pengantaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">transaction[0].deliveryfee</p>
            </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Total Biaya:</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">transaction[0].totalprice</p>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'TransaksiPelanggan:konfirmasi_pembayaran' %}">LANJUT KE PEMBAYARAN</a> 
</div>
{% endblock content %}
