{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Konfirmasi Pembayaran</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
    <h2>Konfirmasi Pembayaran</h2>
    <h4>Waktu Pemesanan: 2022-11-04 11:30:05</h4>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama Pelanggan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Dian</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jalan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Jl. H. Amat</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kecamatan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Beji</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kota:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Depok</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Provinsi:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Jawa Barat</p>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Restoran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Warteg Kutek</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jalan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Jl. H. Amat</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kecamatan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Beji</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kota:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Depok</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Provinsi:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Jawa Barat</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h4>Makanan yang Dipesan:</h4>
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-1">
                <p class="mb-0">No</p>
            </div>
            <div class="col-sm-3">
                <p class="mb-0">Nama Makanan</p>
            </div>
            <div class="col-sm-3">
                <p class="mb-0">Jumlah</p>
            </div>
            <div class="col-sm-5">
                <p class="mb-0">Catatan</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-1">
                <p class="text-muted mb-0">1</p>
            </div>
            <div class="col-sm-3">
                <p class="text-muted mb-0">Telur Dadar</p>
            </div>
            <div class="col-sm-3">
                <p class="text-muted mb-0">2</p>
            </div>
            <div class="col-sm-5">
                <p class="text-muted mb-0">bungkusnya digabung</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-1">
                <p class="text-muted mb-0">2</p>
            </div>
            <div class="col-sm-3">
                <p class="text-muted mb-0">Nasi</p>
            </div>
            <div class="col-sm-3">
                <p class="text-muted mb-0">1</p>
            </div>
            <div class="col-sm-5">
                <p class="text-muted mb-0"></p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total Harga Makanan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">16000</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total Diskon:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">0</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Biaya Pengantaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">4000</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total Biaya:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">15000</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jenis Pembayaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">ATM</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Sisa Waktu Konfirmasi:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">00:00:55</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status Pembayaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Menunggu Pembayaran</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status Pesanan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">Menunggu Konfirmasi Restoran</p>
            </div>
            </div>
        </div>
    </div> 
    <a class="btn btn-primary" href="{% url 'TransaksiPelanggan:ringkasan_pesanan' %}">KONFIRMASI PEMBAYARAN</a>
</div>
{% endblock content %}
