{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pesanan Berlangsung</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
<h1>Pesanan Berlangsung</h1> 

<table class="table table-striped w-auto">
    <tr>
        <th>No</th>
        <th>Restoran</th>
        <th>Waktu Pesanan Dibuat</th>
        <th>Status Pesanan</th>
        <th>Detail</th>
    </tr>
    {% for t in transaction %}
    <tr>
        <td>{{t.nomor}}</td>
        <td>{{t.rname}} {{t.rbranch}}</td>
        <td>{{t.datetime}}</td>
        <td>{{t.status}}</td>
        <td><a class="btn btn-primary" href="{% url 'TransaksiPelanggan:ringkasan_pesanan' t.email t.datetime %}">Detail</a></td>
    </tr>
    {% endfor %}
    
</table>
</div>
{% endblock content %}
