{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pilih Menu</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
<h1>Pilih Menu</h1> 

{% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %} 

<form method="POST" action="">
    {% csrf_token %}
    <table class="table table-striped w-auto">
        <tr>
            <th>No</th>
            <th>Nama Makanan</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Catatan (Opsional)</th>
        </tr>
        {% for m in menu %}
        <tr>
            <td>{{m.nomor}}</td>
            <td>{{m.foodname}}</td>
            <td>{{m.price}}</td>
            <td><input name="jumlah_{{m.foodname}}" type="number" min=0 value="0"></td>
            <td><textarea name="catatan_{{m.foodname}}" rows="5" cols="10" maxlength="255"></textarea></td>
        </tr>
        {% endfor %}
    </table>

    <h1>Pilih Metode Pembayaran dan Pengantaran</h1>
        <p><label for="pengantaran">Metode Pengantaran :</label></p>
            <select name="pengantaran" id="pengantaran">
                <option value="Car">Mobil</option>
                <option value="Motor">Motor</option>
            </select>
        <p><label for="pembayaran">Metode Pembayaran :</label></p>
            <select name="pembayaran" id="pembayaran">
                {% for p in metode_pembayaran %}
                <option value="{{p.id}}_{{p.name}}">{{p.name}}</option>
                {% endfor %}
            </select>
            <p><button type="submit" class="btn btn-primary">Pesan</button></p>
</form>
</div>
{% endblock content %}