{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pilih Menu</title>
<script src="jquery-3.6.1.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="container py-5">
<h1>Pilih Menu</h1> 

{% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %} 

<form method="POST" action="">
    {% csrf_token %}
    <table class="table table-striped w-auto">
        <tr>
            <th>No</th>
            <th>Nama Makanan</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Catatan (Opsional)</th>
        </tr>
        {% for m in menu %}
        <tr>
            <td>{{m.nomor}}</td>
            <td>{{m.foodname}}</td>
            <td>{{m.price}}</td>
            <td>
                <button type="button" id="{{m.nomor}}" onclick="decrement(this.id)">-</button>
                <p id="jumlah_temp{{m.nomor}}">0</p>
                <button type="button" id="{{m.nomor}}_{{m.stock}}" onclick="increment(this.id)">+</button>
            </td>
            <input id="jumlah_{{m.nomor}}" name="jumlah_{{m.foodname}}" type="number" hidden value="0">
            <td><textarea id="catatan_{{m.nomor}}" name="catatan_{{m.foodname}}" rows="5" cols="10" maxlength="255" disabled></textarea></td>
        </tr>
        {% endfor %}
    </table>

    <h1>Pilih Metode Pembayaran dan Pengantaran</h1>
        <p><label for="pengantaran">Metode Pengantaran :</label></p>
            <select name="pengantaran" id="pengantaran">
                <option value="Car">Car</option>
                <option value="Motor">Motor</option>
            </select>
        <p><label for="pembayaran">Metode Pembayaran :</label></p>
            <select name="pembayaran" id="pembayaran">
                {% for p in metode_pembayaran %}
                <option value="{{p.id}}_{{p.name}}">{{p.name}}</option>
                {% endfor %}
            </select>
            <p><button type="submit" class="btn btn-primary">Pesan</button></p>
</form>
</div>

<script>
    function increment(id) {
        console.log("masuk")
        var stok = id.split("_")[1];
        var elem = document.getElementById(`jumlah_temp${id.split("_")[0]}`);
        var jumlah = elem.innerHTML;
        if(jumlah == stok) return;
        jumlah++
        enable(id.split("_")[0]);
        elem.innerText = jumlah;
        document.getElementById(`jumlah_${id.split("_")[0]}`).value = jumlah;
    }

    function decrement(id) {
        var elem = document.getElementById(`jumlah_temp${id}`);
        var jumlah = elem.innerHTML;
        if(jumlah == 1) {
            disable(id);
        }
        if(jumlah == 0) return;
        jumlah--
        elem.innerText = jumlah;
        document.getElementById(`jumlah_${id}`).value = jumlah;
    }

    function disable(id) {
        var textarea = document.getElementById(`catatan_${id}`);
        textarea.disabled = true;
        textarea.value = '';
    }

    function enable(id) {
        var textarea = document.getElementById(`catatan_${id}`);
        textarea.disabled = false;
    }
</script>
{% endblock content %}