{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pilih Restoran</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
<h1>Pilih Restoran</h1>  

<table class="table table-striped w-auto">
    <tr>
        <th>No</th>
        <th>Restoran</th>
        <th>Promo</th>
        <th>Pilih Resto</th>
    </tr>
    {% for r in restoran %}
    <tr>
        <td>{{r.nomor}}</td>
        <td>{{r.Rname}} {{r.Rbranch}}</td>
        <td>
            {% for p in r.promo %}
            {{p.promoname}} <br>
            {% endfor %}
        </td>
        <td><a class="btn btn-primary" href="{% url 'TransaksiPelanggan:pilih_menu' r.Rname r.Rbrach %}">Pilih</a></td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock content %}