{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pilih Restoran</title>
{% endblock meta %}

{% block content %}
<h1>Pilih Restoran</h1>  

<table class="table table-striped w-auto">
    <tr>
        <th>No</th>
        <th>Restoran</th>
        <th>Promo</th>
        <th>Pilih Resto</th>
    </tr>
        <td>1</td>
        <td>Warteg Kutek</td>
        <td></td>
        <td><button><a href="{% url 'TransaksiPelanggan:pilih_menu' %}">Pilih</a></button></td>
    </tr>
    </tr>
        <td>2</td>
        <td>Katsu Pacil</td>
        <td>Promo IPK >3.9</td>
        <td><button><a href="{% url 'TransaksiPelanggan:pilih_menu' %}">Pilih</a></button></td>
    </tr>
    </tr>
        <td>3</td>
        <td>Dips Perpusat</td>
        <td></td>
        <td><button><a href="{% url 'TransaksiPelanggan:pilih_menu' %}">Pilih</a></button></td>
    </tr>
</table>

{% endblock content %}