{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ringkasan Pesanan</title>
{% endblock meta %}

{% block content %}
<div class="container py-5">
    <h2>Ringkasan Pesanan</h2>
    <h4>Waktu Pemesanan: {{transaction[0].datetime}}</h4>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Nama Pelanggan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].fname}} {{transaction[0].lname}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jalan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].street}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kecamatan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].district}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kota:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].city}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Provinsi:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].province}}</p>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Restoran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{restaurant[0].rname}} {{restaurant[0].rbranch}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jalan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{restaurant[0].street}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kecamatan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{restaurant[0].district}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kota:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{restaurant[0].city}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Provinsi:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{restaurant[0].province}}</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h4>Makanan yang Dipesan:</h4>
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-1">
                <p class="mb-0">No</p>
            </div>
            <div class="col-sm-3">
                <p class="mb-0">Nama Makanan</p>
            </div>
            <div class="col-sm-3">
                <p class="mb-0">Jumlah</p>
            </div>
            <div class="col-sm-5">
                <p class="mb-0">Catatan</p>
            </div>
            </div>
            {% for m in menu %}
                <hr>
                <div class="row">
                <div class="col-sm-1">
                    <p class="text-muted mb-0">{{m.nomor}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-muted mb-0">{{m.foodname}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-muted mb-0">{{m.amount}}</p>
                </div>
                <div class="col-sm-5">
                    <p class="text-muted mb-0">{{m.note}}</p>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total Harga Makanan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].totalfood}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total Diskon:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].totaldiscount}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Biaya Pengantaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].deliveryfee}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Total Biaya:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].totalprice}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jenis Pembayaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction[0].name}}</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status Pembayaran:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{payment_status[0].name}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status Pesanan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{transaction_status[0].name}}</p>
            </div>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Kurir:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{courier[0].fname}} {{courier[0].lname}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Plat Kendaraan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{courier[0].platenum}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Jenis Kendaraan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{courier[0].vehicletype}}</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Merk Kendaraan:</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{courier[0].vehiclebrand}}</p>
            </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'TransaksiPelanggan:pesanan_berlangsung' %}">Kembali</a>
</div>
{% endblock content %}
