{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <title> Detail Restoran </title> 
    {% endblock meta %}
</head>

<body>
    {% block content %}  
    <div class = "flex flex-col items-center my-8">
        <h1 class = "font-bold my-4"> Daftar Restoran </h1> 
        <div class = "max-w-1080px w-full mx-8">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col"> No </th>
                    <th scope="col"> Nama - Cabang Restoran </th>
                    <th scope="col"> Rating </th>
                    <th scope="col"> Aksi </th>
                  </tr>
                </thead>
                <tbody>
                  {% for restaurant in restaurant_no_dumps %}
                    <tr>
                      <th scope="row"> {{forloop.counter}} </th>
                      <td id = "resto{{forloop.counter}}"> {{restaurant.rname}} -- {{restaurant.rbranch}}</td>
                      <td>{{restaurant.rating}}</td>
                      <td class = "flex flex-col">
                          <a href="/restoran/{{forloop.counter}}/" class = "w-full flex-col flex text-decoration-none"><button type="button" data-bs-toggle = "modal" data-bs-target = "#modalTarif"> Detail </button></a>
                          <button id = "btn{{forloop.counter}}" class = "w-full flex-col flex text-center items-center"> Menu </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      var data = String.raw`{{restaurant | safe}}`
      var parsed = JSON.parse(data)

      $(document).ready(function (){

        for(let i = 1 ; i <= parsed.length ; i++){
          $(`#btn${i}`).click(function(){
            let restorantValue = $(`#resto${i}`).text()
            restoranList = restorantValue.split("--")
            rname = restoranList[0]
            rbranch = restoranList[1]
            window.location.href = window.location.protocol + "//" + window.location.host + "/" + `makanan/pengguna/?param1=${rname}&param2=${rbranch}`
          })
        }
     })

    </script>

    {% endblock content %}
</body>